<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container body-content">
			<div class="row">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">
								<span th:text="#{login.title}"></span>
							</h4>
						</div>
						<form th:action="@{/login}" method="post">
							<div class="modal-body">
								<div class="form-group">
									<input name="username" class="form-control"
										placeholder="Usuário" autofocus="autofocus" />
								</div>
								<div class="form-group">
									<input type="password" name="password" class="form-control"
										placeholder="Senha" />
								</div>
								<div class="form-group">
									<input type="checkbox" id="remember-me" name="remember-me" />
									<label for="remember-me">Lembrar?</label>
								</div>
							</div>
							<div class="modal-footer">
								<a class="btn btn-default" th:href="@{/}"><span
									th:text="#{cancel.message}"></span></a>
								<button type="submit" class="btn btn-primary">Entrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>