<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{base}">
<head>
<title>SPLASH</title>
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css">
</head>
<body>
	<div layout:fragment="content">
		<div class="col-lg-12">
			<div class="intro-message">
				<h1>SPRING</h1>
				<h3>Spring: the source for modern java</h3>
				<hr class="intro-divider">
			</div>
		</div>
	</div>
</body>
</html>